.box{
    width: 75px;
    height: 75px;
    border: 1px  solid gray;
}
.big-box{
width: 1000px;
height: 600px;
border: 2px solid red;
margin: auto;
}
.boxs1{
    display: flex;
    justify-content: space-between;
}
.boxs2{
    display: flex;
    justify-content: space-between;
    margin-top: 448px;
}